<p>
DEEP: Norwegian Research School for Dynamics and Evolution of Earth and Planets.
<br>
The Norwegian Research School for Dynamics and Evolution of Earth and Planets (DEEP) is a national research school in geosciences. DEEP aims to educate solid earth and planetary scientists in a holistic way, placing the Earth's structure and evolution in a comparative planetology perspective.
<br>
More information can be found <a href="https://www.mn.uio.no/ceed/english/research/doctoral-degree/national-phd-school/">here</a>.
</p>
